@use "../helpers/functions" as f;

.cart-section {
    &__wrapper {
        h2 {
            &:before {
                content: "Cart";
            }
        }
    }

    &__empty,
    &__unknown {
        display: flex;
        flex-direction: column;
        padding: f.rem(10) f.rem(20);
        gap: f.rem(10);

        p {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: f.rem(10) f.rem(20);
            border: f.rem(1) solid var(--comColor);
        }
    }
}