@use '../helpers/functions' as f;

.dashboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: f.rem(800);
    gap: f.rem(20);
    width: 100%;
    border: f.rem(1) solid var(--comColor);
    aspect-ratio: 1/1;
}